.ib{display:inline-block;}
.dc{position:relative;z-index:0;}
.dc a{position:relative;z-index:2;}
a.dc{position:absolute;width:100%;height:100%;top:0;right:0;z-index:1;}

header{background-color:#40A5B1;}
header img{display:block;margin:auto;height:100%;width:100%;}

nav{background-color:#352F3D;}
nav ul {padding:0;margin:0;text-align:center;}
nav ul li{vertical-align:middle;}
nav ul li a{color:white;}
nav ul+ul+ul{margin:auto;text-align:initial;}
nav ul+ul+ul li{margin:0 10px;}
nav #logo{width:50px;}

main section,main>form{margin: 5px auto;}

main>section>h2,
article>h2,article>h1
{text-align:center;}
#why>ul{text-align:center;padding:0;}
#why>ul li{margin:0 25px;}
#why>ul li span{margin-left:.25em;}

#articles{margin:auto;}
#articles article
{
	margin: 1%;
	box-shadow : 0 4px 10px 0 rgba(0,0,0,0.2) , 0 4px 20px 0 rgba(0,0,0,0.19);
	text-align:center;
}
#articles article .link
{
	margin:0;
	padding:5px;
	background-color:rgba(0,0,0,0.2);
	border-top:solid rgba(0,0,0,0.5) 1px;
}
#articles ul{margin:auto;}
#articles>div {text-align:center;}
#articles ul {padding:0;}
#articles ul a {text-decoration:none;color:black;}

#article{margin: 0 5%;}
#article>div{margin:auto;}
#article+section ul{list-style-type: none;margin:auto;}
#article+section ul li {background-color: rgba(0,0,0,0.2);}

footer{text-align:center;background-color:#352F3D;}
footer div{text-align:initial;}
footer ul{padding:0;}
footer a{color:gray;}
footer>a,footer>ul{position:sticky;bottom:-1px;margin:0;background-color:#26212b;text-decoration: none;}

@media screen and (max-width: 540px){#why>ul li{margin:0 1px;}}
/* by gamgine */