		<footer>
			<section>
				<div>
					<p>Community</p>
					<ul>
						<li><a href="">translations</a></li>
						<li><a href="">Mailing lists</a></li>
						<li><a href="">forums</a></li>
					</ul>
				</div>
				<div>
					<p>About</p>
					<ul>
						<li><a href="">Our society</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">blog</a></li>
						<li><a href="">customers</a></li>
						<li><a href="">Legal information | confidentiality</a></li>
					</ul>
				</div>
			</section>
			<a href="gamgine.com">by gamgine</a>
			<ul>
				<li><a href="" class="fab fa-facebook-square fa-2x"></a></li>
				<li><a href="" class="fab fa-twitter-square fa-2x"></a></li>
			</ul>
			<a href="">cgu cgv</a>
		</footer>